# IDE
.idea
.vscode
*.swp
*.swo

# Dependencies
node_modules/

# Build output
dist/
tmp/
out-tsc/

# Angular cache
.angular/

# Testing
coverage/

# Environment files
.env
.env.local
*.local

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log

# Misc
*.log
*.tmp
