<div
  class="landmark-square"
  [class.size-small]="size === 'small'"
  [class.size-medium]="size === 'medium'"
  [class.size-large]="size === 'large'"
  [class.texture-1]="texture === 1"
  [class.texture-2]="texture === 2"
  [class.texture-3]="texture === 3"
  [class.texture-4]="texture === 4"
  [style.left.px]="positionX"
  [style.top.px]="positionY"
  (mousedown)="onMouseDown($event)"
  (contextmenu)="onRightClick($event)"
>
  @if (isEditing) {
    <textarea
      #nameInput
      class="name-input"
      [(ngModel)]="name"
      (blur)="stopEditing()"
      (keydown)="onNameKeydown($event)"
    ></textarea>
  } @else {
    <span class="name-display">{{ name }}</span>
  }
</div>
